.nav-header{
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px hsl(0, 5%, 89%); 
    color: blue; 
}

.nav-header h2{
    margin: 20px 50px;
}
.dark{
    font-weight: 300;
}
@media only screen and (max-width: 600px) {
    .nav-header h2{
        margin: 5px 10px;
    }   
}

