.country-search{
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
    padding: 40px;
    position: sticky;
    top: 0;
    bottom: 0;
}

input[type=text] {
    width: 40vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    box-shadow: 3px 3px 5px 5px hsl(0, 3%, 89%);
  }

  .search-icon{
    position: absolute;
    padding: 20px;
    font-size: 25px;
  }

  .filter-religion{
    border: none;
    width: auto;
    border-radius: 5%;
    margin-left: 23px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    cursor: pointer;
  }
  .filter-religion h2{
    font-size: 18px;
    margin: auto;
    padding: 20px;
  }
  .drop{
    font-size: 25px;
    background-color: #ccc;
  }
  ::placeholder{
    color: black;
    font-size: 1.3rem;
  }
  
.region-list{
  position: absolute;
  width: 280px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(252, 250, 250);
  top: 90px;
  right: 40px;
  margin-top: 30px;
  z-index: 5;
}
  .region-list p{
    display: block;
    cursor: pointer;
    
  }

  @media only screen and (max-width: 600px) {
    .country-search{
        display: block;
    }
    .filter-religion{
      width: fit-content;  
      margin: 0;
    }
    .filter-religion{
      margin-top: 12px;
    }
    input[type=text] {
        width: 60vw;
       
      }
      .region-list{
        margin-top: 45px;
      }
  }

  @media screen and (max-width: 360px) {
    .region-list p{
      margin-left: 60px;
    }
  }